tr, td {
    border: 1px;
    border-style: solid;
}

td {
    height: 50px;
    width: 50px;
    background-color: white;
}

#x {
    height: 100px;
    width: 100px;
    background-color: red;
}

.square{
  height: 100px;
  width: 100px;
}
